<!DOCTYPE html>
<html>

    <!-- This code is only meant for previewing your Reflow design. -->

    <head>
   <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0">
    </head>
    <body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <div id="box" class="clearfix">
            <div id="box1" class="clearfix">
                <div id="box2" class="clearfix">
                    <p id="text">
                      <%= link_to "", root_url %><br />
                    </p>
                    <p id="text1">
                      <%= link_to 'ALLtruism', root_url %>
                    </p>
                </div>
                  <%= form_tag static_pages_search_path, :method => 'get' do %>
                    <%= raw text_field_tag :search, nil, :placeholder => 'Search: Organizations, volunteers, and events', :id => "box3" %>
                  <% end %>
                <p id="text4">
                  <%= link_to 'DISCOVER', events_path %> | <%= link_to 'LOGIN', signin_path %>
                </p>
            </div>
        </div>
        <div id="box4" class="clearfix">
            <div id="box5" class="clearfix">
                <p id="text5">
                Join ALLtruism
                </p>
                <p id="text6">
                I want to sign up as a&#x3a;
                </p>
                <div id="box6" class="clearfix">
                  <form action="../users/new" method="get">
    <input id="input" type="submit" value="VOLUNTEER"></input>
</form>
                  
                    
                    	
		             
                                <form action="../organizations/new" method="get">
    <input id="input1" type="submit" value="NONPROFIT"></input>
</form>
              
              
          
          
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
