<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this volunteer from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="field">
    <%= f.label :fname, 'First Name' %><br />
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname, 'Last Name' %><br />
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
	<div>
    <%= f.label :password %><br />
    <%= f.password_field :password, :placeholder=>"Enter a password" %>
	</div>    
	<div class="actions">
	<%= f.submit %>
	</div>
<% end %>
