<%= form_for(@event_volunteer) do |f| %>
  <% if @event_volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_volunteer.errors.count, "error") %> prohibited this event_volunteer from being saved:</h2>

      <ul>
      <% @event_volunteer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.number_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :showed_up %><br />
    <%= f.check_box :showed_up %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
