<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Description:</b>
  <%= @organization.description %>
</p>

<p>
  <b>Address:</b>
  <%= @organization.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @organization.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @organization.email %>
</p>

<p>
  <b>Ein:</b>
  <%= @organization.ein %>
</p>

<p>
  <b>Website:</b>
  <%= @organization.website %>
</p>

<% if @organization.organizers.include?(current_user) %>
  <%= link_to "New event", new_event_path(event: {organization_id: @organization.id}) %> |
  <%= link_to 'Edit', edit_organization_path(@organization) %>
<% end %>

<%= link_to 'Back', organizations_path %>
